# Example MySQL config file for medium systems.
#
# This is for a system with little memory (32M - 64M) where MySQL plays
# an important part, or systems up to 128M where MySQL is used together with
# other programs (such as a web server)
#
# You can copy this file to
# /etc/my.cnf to set global options,
# mysql-data-dir/my.cnf to set server-specific options (in this
# installation this directory is /opt/lampp/var/mysql) or
# ~/.my.cnf to set user-specific options.
#
# In this file, you can use all long options that a program supports.
# If you want to know which options a program supports, run the program
# with the "--help" option.

# The following options will be passed to all MySQL clients


################################################################################
#DATE: 2019-04-26
#DESCRIPTION: MySQL config 5.0.x, 5.1.x, 5.5.x
#RAM: 64GB RAM dedicated server
#Connections: 2000 connections
################################################################################

[client]
port		=3307
socket		=/opt/lampp/var/mysql/mysql.sock
default-character-set         = utf8

# Here follows entries for some specific programs

# The MySQL server
[mysqld]
innodb_file_per_table=1
user=mysql
port=3307
socket		=/opt/lampp/var/mysql/mysql.sock
net_buffer_length=8K

## Charset and Collation
character-set-server= utf8
collation-server= utf8_general_ci

## Files
open-files-limit         = 8192
open-files             = 1024

## Per-Thread Buffers * (max_connections) = total per-thread mem usage
thread_stack             = 512K      #default: 32bit: 192K, 64bit: 256K
sort_buffer_size         = 2450M      #default: 2M, larger may cause perf issues
read_buffer_size         = 2450M      #default: 128K, change in increments of 4K
read_rnd_buffer_size         = 2450M      #default: 256K
join_buffer_size         = 2450M      #default: 128K
binlog_cache_size         = 128K      #default: 32K, size of buffer to hold TX queries
## total per-thread buffer memory usage: 17664000K = 17.250GB

## Query Cache
query_cache_type = ON
query_cache_size         = 32G    #global buffer  default:64M
query_cache_limit         = 256M #max query result size to put in cache

## Connections
max_connections 		= 200	#multiplier for memory usage via per-thread buffers
max_connect_errors 		= 10	#default: 10
concurrent_insert		= 2	#default: 1, 2: enable insert for all instances
connect_timeout			= 30	#default -5.1.22: 5, +5.1.22: 10
max_allowed_packet 		= 32M	#max size of incoming data to allow

## Table and TMP settings
max_heap_table_size 		= 16G	#recommend same size as tmp_table_size
bulk_insert_buffer_size 	= 16G	#recommend same size as tmp_table_size
tmp_table_size                  = 16G    #recommend 1G min
#tmpdir                         = /data/mysql-tmp0:/data/mysql-tmp1 #Recommend using RAMDISK for tmpdir

## Table cache settings
table_cache 			= 17880	#5.0.x <default: 64>
table_open_cache		= 17880	#5.1.x, 5.5.x <default: 64>

## Thread settings
thread_concurrency		= 8  #recommend 2x CPU cores
thread_cache_size		= 10 #recommend 5% of max_connections

## MyISAM Engine
key_buffer			= 1M	#global buffer
myisam_sort_buffer_size		= 128M	#index buffer size for creating/altering indexes
myisam_max_sort_file_size	= 256M	#max file size for tmp table when creating/alering indexes
myisam_repair_threads		= 4	#thread quantity when running repairs
myisam_recover			= BACKUP	#repair mode, recommend BACKUP

## InnoDB Plugin Independent Settings
innodb_log_file_size		= 768M	#64G_RAM+ = 768, 24G_RAM+ = 512, 8G_RAM+ = 256, 2G_RAM+ = 128
innodb_log_files_in_group	= 4	#combined size of all logs <4GB. <2G_RAM = 2, >2G_RAM = 4
innodb_buffer_pool_size		= 38G 	#global buffer
innodb_additional_mem_pool_size	= 4M	#global buffer
innodb_status_file		  	#extra reporting
innodb_flush_log_at_trx_commit	= 2	#2/0 = perf, 1 = ACID
innodb_table_locks		= 0	#preserve table locks
innodb_log_buffer_size 		= 128M 	#global buffer
innodb_lock_wait_timeout 	= 60
innodb_thread_concurrency	= 8	#recommend 2x core quantity
innodb_commit_concurrency	= 4	#recommend 4x num disks
#innodb_flush_method		= O_DIRECT	   #O_DIRECT = local/DAS, O_DSYNC = SAN/iSCSI
innodb_support_xa		= 0		   #recommend 0, disable xa to negate extra disk flush
skip-innodb-doublewrite

## Binlog sync settings
## XA transactions = 1, otherwise set to 0 for best performance
sync_binlog			= 0

## TX Isolation
transaction-isolation		= REPEATABLE-READ #REPEATABLE-READ req for ACID, SERIALIZABLE req XA

query_cache_min_res_unit=4096

# Set a connection to wait 8 hours in idle status.
wait_timeout = 3600

# Where do all the plugins live
plugin_dir=/opt/lampp/lib/mysql/plugin/

# Don't listen on a TCP/IP port at all. This can be a security enhancement,
# if all processes that need to connect to mysqld run on the same host.
# All interaction with mysqld must be made via Unix sockets or named pipes.
# Note that using this option without enabling named pipes on Windows
# (via the "enable-named-pipe" option) will render mysqld useless!
#
#skip-networking

# Replication Master Server (default)
# binary logging is required for replication
# log-bin deactivated by default since XAMPP 1.4.11
#log-bin=mysql-bin

# required unique id between 1 and 2^32 - 1
# defaults to 1 if master-host is not set
# but will not function as a master if omitted
server-id	=1

# Replication Slave (comment out master section to use this)
#
# To configure this host as a replication slave, you can choose between
# two methods :
#
# 1) Use the CHANGE MASTER TO command (fully described in our manual) -
#    the syntax is:
#
#    CHANGE MASTER TO MASTER_HOST=<host>, MASTER_PORT=<port>,
#    MASTER_USER=<user>, MASTER_PASSWORD=<password> ;
#
#    where you replace <host>, <user>, <password> by quoted strings and
#    <port> by the master's port number (3306 by default).
#
#    Example:
#
#    CHANGE MASTER TO MASTER_HOST='125.564.12.1', MASTER_PORT=3306,
#    MASTER_USER='joe', MASTER_PASSWORD='secret';
#
# OR
#
# 2) Set the variables below. However, in case you choose this method, then
#    start replication for the first time (even unsuccessfully, for example
#    if you mistyped the password in master-password and the slave fails to
#    connect), the slave will create a master.info file, and any later
#    change in this file to the variables' values below will be ignored and
#    overridden by the content of the master.info file, unless you shutdown
#    the slave server, delete master.info and restart the slaver server.
#    For that reason, you may want to leave the lines below untouched
#    (commented) and instead use CHANGE MASTER TO (see above)
#
# required unique id between 2 and 2^32 - 1
# (and different from the master)
# defaults to 2 if master-host is set
# but will not function as a slave if omitted
#server-id       = 2
#
# The replication master for this slave - required
#master-host     =   <hostname>
#
# The username the slave will use for authentication when connecting
# to the master - required
#master-user     =   <username>
#
# The password the slave will authenticate with when connecting to
# the master - required
#master-password =   <password>
#
# The port the master is listening on.
# optional - defaults to 3306
#master-port     =  <port>
#
# binary logging - not required for slaves, but recommended
#log-bin=mysql-bin


# Point the following paths to different dedicated disks
#tmpdir		= /tmp/
#log-update 	= /path-to-dedicated-directory/hostname

# Uncomment the following if you are using BDB tables
#bdb_cache_size = 4M
#bdb_max_lock = 10000

# Comment the following if you are using InnoDB tables
#skip-innodb
innodb_data_home_dir=/opt/lampp/var/mysql/
innodb_data_file_path=ibdata1:10M:autoextend
innodb_log_group_home_dir=/opt/lampp/var/mysql/
# You can set .._buffer_pool_size up to 50 - 80 %
# of RAM but beware of setting memory usage too high

# Deprecated in 5.6
#innodb_additional_mem_pool_size = 2M
# Set .._log_file_size to 25 % of buffer pool size




#innodb_force_recovery=6

[mysqldump]
quick
quote-names
max_allowed_packet 		= 128M


[mysql]
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[isamchk]
key_buffer=20M
sort_buffer_size=20M
read_buffer=2M
write_buffer=2M

[myisamchk]
key_buffer=20M
sort_buffer_size=20M
read_buffer=2M
write_buffer=2M

[mysqlhotcopy]
